<% title "Search results for #{@q}" %>
<% meta_tag :description, "Search results for #{@q}" %>

<section class="search-results narrow">
	<h1><span class="tag"><%= "#{@q}" %></span></h1>

	<% if @hits.size > 0 %>
	  <div class="hits">
	  	<% @hits.each do |hit| %>
		    <div class="hit">
		      <div class="hit-link">
		      	<%= link_to hit['title'], article_path(hit) %>
		      </div>
		      <div class="hit-date">
		      	 <i class="fa fa-clock-o" aria-hidden="true"></i> <%= raw(hit['created_at'].strftime('%b %d, %Y')) %>
		      </div>
		    </div>
		  <% end %>
	  </div>
	 <% else %>
	 	<p>Oh no! You haven't struck gold this time. Try another search.</p>
	<% end %>
</section>