<% title 'Articles' %>

<section class="articles cf">
<h1>Articles</h1>

<% if @articles_by_month.blank? %>
	<p>No posts at the moment! :(</p>
<% else %>

	<div class="months">

		<% @articles_by_month.each do |month, articles| %>
			<div class="month-group" data-month="<%= month.strftime('%B-%Y') %>">
				<h2 class="month">
					<%= month.strftime('%B %Y') %>
				</h2>

				<ul class="bulleted post-list">
					<% articles.each do |article| %>
					<li>
						<%= link_to article.title, article_path(article) %>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="pagination-controls">
			<%= paginate @articles_by_month %>
		</div>
	</div>
<% end %>
</section>