<% title "#{@article.title}" %>

<% if @article.imported_from_wordpress %>
  <p class="faded">
    This article was originally posted on my Wordpress site between 2011 - 2014. The article content may be out of date, and code formatting may be malformed. If you spot an error, please email me at <a href="mailto:hello@adamjamesbull.co.uk">hello@adamjamesbull.co.uk</a>.
  </p>
<% end %>
<section id="article" class="narrow">
  <article class="article">
    <h1><%= @article.title %></h1>

    <div class="article-meta">     
      <p class="faded">
        <span class="meta-item">
          <i class="fa fa-eye" title="Page views" aria-hidden="true"></i> <%= @article.impressions.size %> views
        </span>
        <span class="meta-item">
          <i class="fa fa-calendar" title="Post date" aria-hidden="true"></i> <%= @article.created_at.strftime("#{@article.created_at.day.ordinalize} %B %Y") %>
        </span>
      </p>
    </div>
    <div class="article-body">
      <%= raw(@article.content) %>
    </div>
    <% if @article.tags.count > 1 %>
        <div class="article-tags">

          <h3>Tags:</h3>
          <ul class="tag-cloud">
            <%= render @article.tags %>
          </ul>
        </div>
    <% end %>

    <div class="article-comments">
      <div id="disqus_thread"></div>
    </div>

  </article>

</section>
<script type="text/javascript">
var disqus_config = function () {
    this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<%= @article.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//adamjameasbullcouk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>