<% title "#{@article.title}" %>

<article class="article">
	<h1><%= @article.title %></h1>

	<div class="article-body">
		<%= raw(@article.content) %>
	</div>

	<div class="article-comments">
		<div id="disqus_thread"></div>  
	</div>
</article>