<% title 'Home' %>

<h2>
	About me
</h2>

<p>
	TLDR; I used to be a .NET developer, now I am a Rails developer.  <br/><a href="/about">More about me</a>.	
</p>

<% if @recent_articles %>
	<h2>
		Recent posts
	</h2>
	<ul class="bulleted post-list">
		<% @recent_articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
		<% end %>
	</ul>
<% end %>
