* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $background-colour;
	background-image: image-url('noisy.png');
	background-repeat: repeat;
	line-height: 1.5;
	zoom: 1;
	font-size: 18px;
}

body, html {
	padding: 0;
	margin: 0;
}

body, select, input, textarea {
	font-family: $body;
}

a {
	color: $link-colour;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: $link-colour-hover;
	}
}

input, textarea, select {
	padding: 5px 10px;
}

blockquote {
	background: white;
	padding: 10px;
	margin: 0;
}

img {
	max-width: 100%;
	width: auto !important;
	height: auto !important;
	background: white;
	padding: 10px;
	border: 2px dashed $border-colour;
}

table {
	width: 100% !important;
	border-collapse: collapse;
	margin: 15px auto;
	font-family: Arial;


	thead {
		tr th {
			text-align: left;
		}
	}
}

.horizontal-links {
	p {
		border-right: 3px solid $green;
		display: inline-block;
		padding-right: 15px;
		padding-left: 15px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}
}

.faded {
	color: $grey-tertiary;
}

.hidden {
	display: none;
}