ul {
	list-style: none;
	padding-left: 0;

	li {
		margin: 5px auto;
	}

	&.bulleted {
		list-style: disc;
		padding-left: 20px;

		li.tag {
			.descriptor {
				display: none;
				width: 0;
			}

			&:hover {
				cursor: pointer;
				.descriptor {
					display: inline-block;
					width: auto;
					visibility: visible;
				}
			}
		}
	}

	&.post-list {
		padding-left: 0;
		list-style: none;
		li {
			&:hover {
				&:before {
					color: $link-colour-hover;
				}
			}
		}
	}

	&.tag-cloud {
		li {
			padding: 5px 10px;
			border-radius: $border-radius;
			display: inline-block;
			min-width: 65px;
			margin-right: 10px;
			text-align: center;
			border: 2px dashed $link-colour-hover;

			a {
				color: $link-colour-hover;
			}
		}
	}
}