nav {
	a {
		color: $grey-secondary;
		font-family: $heading;
		color: black;
	}

	&.pagination {
		display: inline-block;
		border-radius: 5px;
		margin: 2rem auto;

		span {
			padding: 5px 10px;
			display: inline-block;
			color: $grey-tertiary;

			&.current {
				color: $link-colour-hover;
			}

			a {
				color: inherit;

				&:hover {
					color: $link-colour-hover;
				}
			}
		}
	}

	ul {
		li {
			display: inline-block;
			padding: 0 8px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

@media only screen and (max-device-width: 480px) {
	nav {
		&.main {
			margin: 0 auto;
			ul li {
				display: block;
				padding: 0;
			}
		}	
	}
}