.articles, .article {
	margin: 25px auto;
}

article {
	&.article {
		ul {
			list-style: disc !important;
    		padding-left: 1em;

    		&.tag-cloud {
    			padding: 0;
    		}
		}
		.article-body {
			margin-bottom: 2rem;
		}

		.article-meta {
			margin-bottom: 25px;

			p.faded {
				margin: 5px auto;
			}
			span.meta-item {
				margin-right: 5px;
				vertical-align: middle;

				i.fa {
					margin-right: 2px;
				}
			}
		}
	}
}

.container {
	max-width: 960px;
	width: auto;
	margin: 0 auto;
    padding: 3rem 1rem;
}

.icon--row {
	.icon {
		font-size: 4.5rem;
	}
}

@media only screen and (max-device-width: 480px) {
	.container {
		width: 100%;
	}
}