h1,h2,h3,h4,h5,h6 {
	font-family: $heading;
	margin: 10px auto;
	border-bottom: 6px solid $green;
	display: inline-block;
	min-width: 3rem;
	padding-bottom: 0.5rem;

	&:after {
		content: '';
		display: block;
	}

	span {
		font-weight: bold;
		color: $grey-secondary;
	}

	a {
		color: inherit;
	}
}


p {
	font-size: 1.2rem;
		
	&.tagline, &.postscript {
		line-height: 1;
		margin: 0;
	}
	&.postscript {
		text-align: center;
	}
	&.accented {
		display: inline-block;
		vertical-align: middle;
		border-left: 6px solid black;
		padding-left: 8px;
	}
}

h1 {
	font-size: 2rem;

	&.brand {
		margin-bottom: 0;
		border-color: $blue;
		line-height: 1;
		font-size: 2.25rem;

		a {
			&:hover {
				color: black;
			}
		}
	}
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

pre, code {
	font-family: $code;
	padding: 10px;
	border: 1px solid $border-colour;
	white-space: pre-wrap;

	code {
		border: 0;
		padding: 0;
		margin: 0;
	}
}

@media only screen and (max-device-width: 480px) {
	h1 {
		line-height: 2.5rem;
	}

	p {
		&.tagline {
			line-height: 2rem;
		}
	}
}