$heading: 'Zilla Slab', serif;
$body: 'Zilla Slab', serif;
$code: 'Inconsolata', monospace;
$border-radius: 5px;
$link-colour: rgba(0, 71, 119, 1);
$link-colour-hover: rgba(204, 41, 54, 1);
$border-colour: #e2e2e2;
$accent-colour: rgba(20, 54, 66, 1);
$grey-primary: #666;
$grey-secondary: #777;
$grey-tertiary: #797A7F;
$background-colour: #E7E8F0;
$red: #FF3941;
$green: #81BB93;
$blue: #7C92F8;
$white: #fff;