.hljs-comment,
.hljs-quote {
    color: #969896;
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #cc6666;
}
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #de935f;
}
.hljs-attribute {
    color: #f0c674;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #b5bd68;
}
.hljs-title,
.hljs-section {
    color: #81a2be;
}
.hljs-keyword,
.hljs-selector-tag {
    color: #b294bb;
}
.hljs {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.5em;
    line-height: 1.4;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}