<li class="tag">
	<%= link_to "#{tag.name}", tag_path(tag.slug) %> 
	<% if tag.taggings_count == 1 %>
		<span class="faded">(<%= tag.taggings_count %><span class="descriptor">&nbsp;article</span>)</span>
	<% else %>
		<span class="faded">(<%= tag.taggings_count %><span class="descriptor">&nbsp;articles</span>)</span>
	<% end %>	
</li>