

<section class="tag-page narrow">

	<% if not @tag.nil? %>
		<h1><span class="tag"><%= "#{@tag.name}" %></span></h1>
		<% title "Tag - #{@tag.name}" %>
		<p>
		<% if @tag.taggings_count == 1 %>
			<strong><%= @tag.taggings_count %> article</strong> found:
		<% else %>
			<strong><%= @tag.taggings_count %> articles</strong> found:
		<% end %>	
		</p>
	
		<ul class="bulleted">
			<%= render @articles %>
		</ul>
	<% else %>
		<h1>
			<span class="tag"><%= @query %></span>
		</h1>
		
		<p>
			Sorry, but there were no results.
		</p>
	<% end %>
</section>