<% title 'Curriculum vitae' %>
<section class="curriculum-vitae narrow">
	<h1>
		Curriculum vitae
	</h1>
	<p>
		My CV is also available in print format <a href="https://www.adamjamesbull.co.uk/cv.pdf" target="_blank">here</a>.
	</p>
	<br/>
	<h2>Preamble</h2>
	<p>
		Having previously worked as an ASP.NET developer for around 4 years and having completed a Masters (MSc) in Computer Science at the University of Hertfordshire, I have a strong grasp of object orientation and enterprise software development patterns and development practices. Nowadays I am working as a Ruby on Rails developer, and it feels a little like starting out again (yet this time around I have a few more tools in my shed so to speak). 
	</p>
	<section class="education">
		<h2>Education</h2>
		<div class="item">
			<p>
				<strong>
					MSc in Computer Science (with Distinction)
				</strong>
				<i>University of Hertfordshire (2013-2014)</i>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					BA in English Literature (2nd class honours)
				</strong>
				<i>University of Reading (2008-2011)</i>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					3 A Levels, 11 GCSEs (all A* - C)
				</strong>

				<i>St. Columba's College, St Albans, Hertfordshire (2001-2008)</i>
			</p>
		</div>
	</section>
	<section class="employment-history">
		<h2>Employment history</h2>
		<div class="item">
			<p>
				<strong>
					Ruby on Rails Developer at Farmdrop
				</strong>
				<i>
					London, United Kingdom
				</i>
				<span class="faded">
					(March 2017 - Present)
				</span>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					Ruby on Rails Developer at Route1
				</strong>
				<i>
					London, United Kingdom
				</i>
				<span class="faded">
					(January 2017 - March 2017)
				</span>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					C# Developer at MB Interactive
				</strong>
				<i>
					St Albans, United Kingdom
				</i>
				<span class="faded">
					(July 2013 - December 2016)
				</span>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					PHP / Wordpress Developer at Mang Creative
				</strong>
				<i>
					Hemel Hempstead, United Kingdom
				</i>
				<span class="faded">
					(May 2013 - July 2013)
				</span>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					Digital Assistant at Audit Bureau of Circulations
				</strong>
				<i>
					Berkhampstead, United Kingdom
				</i>
				<span class="faded">
					(September 2012 - December 2012)
				</span>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					Data Analyst at Air Business
				</strong>
				<i>
					St Albans, United Kingdom
				</i>
				<span class="faded">
					(April 2012 - September 2012)
				</span>
			</p>
		</div>
		<div class="item">
			<p>
				<strong>
					I.T Assistant at Justin Craig Education
				</strong>
				<i>
					London Colney, United Kingdom
				</i>
				<span class="faded">
					(January 2012 - April 2012)
				</span>
			</p>
		</div>
	</section>

	<section class="contact">
		<h2>Contact me</h2>
		<p>
			If you would like to contact me regarding an opportunity, please email at <a href="mailto:hello@adamjamesbull.co.uk">hello@adamjamesbull.co.uk</a>.
		</p>
	</section>
</section>