<% title 'About' %>

<section class="about-me narrow">
	<h1>About me</h1>
	<p class="lead">
		Hi there, my name is <strong>Adam Bull</strong> and I am a recovering .NET developer forging a new path in the wonderful world of Ruby on Rails. I am super stoked for what lies ahead.
	</p>
	<p>I originally studied English Literature for my undergraduate degree way back in 2008 – lots of lofty discussions about postmodern poetry and national identity in the poetry of Philip Larkin – that kinda stuff. I had always thought that I was an “arty” person rather than a “techy” one so I spent most of my early life blinded by this assumption. And then I saw the light..</p>
	<p>After finishing university, I decided that I’d like to get into programming having always been a dab hand at computer-y sort of stuff. I stumbled across the Computer Science MSc conversion course at the University of Hertfordshire in early 2012 and haven't looked back. I have been programming seriously coming up to 4 years now and I have learnt all sorts of weird &amp; wonderful stuff.</p>
	<p>I always like to experiment with new things; my ethos is to leave no stone unturned. I very much hold the polyglot developer mindset, and I think it’s important to have wide-ranging knowledge in a variety of programming languages and technologies.</p>

	<p>
		If you find an error on my blog, then please email me at <a href="mailto:hello@adamjamesbull.co.uk">hello@adamjamesbull.co.uk</a> and I will correct it.<br/><br/>You can also find me at various other places online, check out the links below.
	</p>

	<div class="horizontal-links">
		<p>
			<a href="https://github.com/adaam2">GitHub</a>
		</p>
		<p>
			<a href="https://bitbucket.com/adaam2">BitBucket</a>
		</p>
	</div>	
</section>