@import "flattened_active_admin/variables";
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
//= require select2
@import "flattened_active_admin/mixins";
@import "flattened_active_admin/base";
@import "_responsive_active_admin";
// @import "active_admin_pagedown/base";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.active_admin {
    @import 'select2';
}

#header {
    height: 50px;

    h1.site_title {
        font-size: 1.2rem;
    }
}

input[type="text"].select2-input {
    min-width: 150px;
}

ul.select2-choices {
    min-width: 100px;
}

li.ckeditor label {
	width: 100% !important;
	display: block;
    background-color: #efefef;
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    box-sizing: border-box;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    color: #5E6469;
    padding: 5px 10px 3px 10px;
}

.index_table {
    pre {
        white-space: pre;
    }
}