<nav role="navigation" class="main">
	<ul>
		<li>
			<a href="/about" class="button scrolly">
				About
			</a>
		</li>
		<li>
			<a href="/words" class="button scrolly">
				Blog
			</a>
		</li>
		<li>
			<a href="/tags" class="button scrolly">
				Topics
			</a>
		</li>
		<li>
			<a href="/cv" class="button scrolly">
				Curriculum Vitae
			</a>
		</li>
	</ul>
</nav>	