<%= form_tag('/search', method: 'get', class: 'search-bar', role: 'search') do %>
  <%= text_field_tag :q, nil, placeholder:'Search the site', type: 'search' %>
    <%= button_tag(type: "submit", class: "search", title: "Search the site") do %>
        Search
    <% end %>
<% end %>
