<footer class="footer" role="contentinfo">
  <div class="icon--row">
    <div class="icon">
        <a href="https://github.com/adaam2"><i class="devicon-github-plain-wordmark"></i></a>
    </div>
    <div class="icon">
        <a href="https://bitbucket.com/adaam2"><i class="devicon-bitbucket-plain-wordmark"></i></a>
    </div>
  </div>
</footer>