<% content_for :tagline_class, "hidden" %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js" defer></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/tomorrow-night.min.css"/>
    <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', :async => true %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Inconsolata|Zilla+Slab" rel="stylesheet"/>
  </head>

  <body>
  	<div class="container">
      <%= render partial: 'layouts/header' %>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
